@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

main {
    margin: 0 auto;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
}

div{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 2px 2px #DCDCDC;
}
aside img{
    border-radius: 5px;
    object-fit: cover;
}

h1 {
    border-bottom: 1px solid rgb(253, 194, 116);
    text-align: center;
    font-size: 38px;
    text-shadow: 2px 2px #ccc;
}


section div article {
    width: 75%;
    clear: both
}

section div aside {
    width: 15%;
    float: left;
}

section div aside img{
    width: 180px;
    height: 180px;
}